<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="BCCMailAddress" value="robsilveruk@gmail.com"/>
  <add key="CCMailAddress" value=""/>
  <add key="CollectIPs" value="false"/>  
  <add key="EmailTemplatePath" value="C:\Test\BlackwaterPharma-development\BlackwaterPharma\Email Templates"/>
  <add key="Error.Save" value="true" />
  <add key="Error.Filename" value="D:\Personal\Git\BlackwaterPharma\BlackwaterPharma\Assets\ErrorFile.txt" />
  <add key="Images.General" value="D:\Personal\Git\BlackwaterPharma\BlackwaterPharma\Assets\Images"/>
  <add key="Images.UNC" value="http://localhost:50885/Assets/Images"/>
  <add key="JSON.Carousel" value="D:\Personal\Git\BlackwaterPharma\BlackwaterPharma\Assets\JSON\Carousel.json" />
  <add key="JSON.MainMenu" value="D:\Personal\Git\BlackwaterPharma\BlackwaterPharma\Assets\JSON\MainMenu.json" />
  <add key="JSON.RightNavBar" value="D:\Personal\Git\BlackwaterPharma\BlackwaterPharma\Assets\JSON\RightNavBar.json" />
  <add key="Website" value="http://localhost:50885"/>
</appSettings>