<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="BCCMailAddress" value=""/>
  <add key="CCMailAddress" value=""/>
  <add key="CollectIPs" value="false"/>
  <add key="Images.General" value="\\WEB1-STORE\web3-store\webs\b\l\a\blackwaterpharma.co.uk\www\Images"/>
  <add key="Images.UNC" value="http://www.BlackwaterPharam.co.uk/Assets/Images"/>
  <add key="JSON.Carousel" value="http://BlackwaterPharma.co.uk/Assets/JSON/Carousel.json" />
  <add key="JSON.MainMenu" value="http://BlackwaterPharma.co.uk/Assets/JSON/MainMenu.json" />
  <add key="JSON.RightNavBar" value="http://BlackwaterPharma.co.uk/Assets/JSON/RightNavBar.json" />
  <add key="Website" value="http://www.BlackwaterPharma.co.uk"/>
</appSettings>