<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="BCCMailAddress" value="robsilveruk@gmail.com"/>
  <add key="CCMailAddress" value=""/>
  <add key="CollectIPs" value="false"/>  
  <add key="EmailTemplatePath" value="C:\Users\Robert\Documents\DevCode\BlackwaterP\BlackwaterPharma\Email Templates"/>
  <add key="GeneralUNC" value="http://localhost:50885/Assets/Images"/>
  <add key="GeneralImages" value="D:\Personal\Git\BlackwaterPharma\BlackwaterPharma\Assets\Images"/>
  <add key="JSON.RightNavBar" value="http://localhost:50885/Assets/JSON/RightNavBar.json" />
  <add key="Website" value="http://localhost:50885"/>
</appSettings>