<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ConnectionString" value="server=ROBS8530W;database=BlackwaterPharma;Trusted_Connection=true;max pool size=1000"/>
  <add key="ConnectionString" value="server=blackwaterpharma.db.5886730.hostedresource.com;database=BlackwaterPharma;Trusted_Connection=false;user=blackwaterpharma;Pwd=Aiyiheng9@;max pool size=1000"/>
  <add key="EmailTemplatePath" value="C:\Users\Robert\Documents\DevCode\BlackwaterP\BlackwaterPharma\Email Templates"/>
  <add key="GeneralUNC" value="http://localhost:50885/BlackwaterPharma/Images"/>
  <add key="GeneralImages" value="C:\Users\Robert\Documents\DevCode\BlackwaterP\BlackwaterPharma\Images"/>
  <add key="Website" value="http://localhost:50885/BlackwaterPharma"/>
</appSettings>