<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="BCCMailAddress" value=""/>
  <add key="CCMailAddress" value=""/>
  <add key="CollectIPs" value="false"/>
  <add key="JSON.MainMenu" value="http://localhost:50885/Assets/JSON/MainMenu.json" />
  <add key="JSON.RightNavBar" value="http://BlackwaterPharma.co.uk/Assets/JSON/RightNavBar.json" />
  <add key="Website" value="http://www.BlackwaterPharma.co.uk"/>
</appSettings>